 <div class="box-collection">
   <h1><span>Collections</span></h1> 
  <div class="row-collSec">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="box-twenty">
          <h3> 20 </h3>
          <span><em>%</em>OFF</span>
          <p>100's of Furniture Products</p>
          <p class="text-offer">Offers end midnight Wednesday</p>
          <a href="#" title="Shop Now" class="btn btn-shop">Shop Now</a> </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="box-upto">
          <div class="box-fifty">
            <h2>Upto <strong>50%</strong> off selected offers</h2>
            <a href="#" title="Shop Now" class="btn-shop">Shop Now</a> </div>
          <div class="box-miss">
            <p>Miss it,miss out!</p>
            <p>Exclusive offers for a limited time only</p>
          </div>
        </div>
        <div class="box-bath"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a>
          <div class="box-thirty">
            <h6>30<span><em>%</em> off</span></h6>
            <p>selected</p>
          </div>
          <div class="box-miss">
            <p>Bath accessories offers</p>
            <p>Loreum ispum is a dummy text</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="box-mainbed"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection1.png"/></a>
          <div class="box-thirty box-uptothirty">
            <p class="bottom-spacE">up to</p>
            <h6>30<span><em>%</em> off</span></h6>
          </div>
          <div class="box-miss">
            <p>Bed linen offers</p>
            <p>Loreum ispum is a dummy text</p>
          </div>

        </div>
        <div class="box-bath box-bath640"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a>
          <div class="box-thirty">
            <h6>30<span><em>%</em> off</span></h6>
            <p>selected</p>
          </div>
          <div class="box-miss">
            <p>Bath accessories offers</p>
            <p>Loreum ispum is a dummy text</p>

          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="box-mainbed box-collectionMiddil"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection2.png"/></a>
          <div class="box-thirty box-uptothirty">
            <p class="bottom-spacE">up to</p>
            <h6>20<span><em>%</em> off</span></h6>
          </div>
          <div class="box-miss">
            <p>Home Decor</p>
            <p>Loreum ispum is a dummy text</p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="box-mainbed"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection3.png"/></a>
          <div class="box-thirty box-uptothirty">
            <p class="bottom-spacE">up to</p>
            <h6>10<span><em>%</em> off</span></h6>
          </div>
          <div class="box-miss">
            <p>Show piece offers</p>
            <p>Exclusive offers for a limited time only</p>
          </div>
        </div>
        <div class="box-bath"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a>
          <div class="box-thirty">
            <h6>30<span><em>%</em> off</span></h6>
            <p>selected</p>
          </div>
          <div class="box-miss">
            <p>Bath accessories offers</p>
            <p>Loreum ispum is a dummy text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>